html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

    background: #0fb8ad;
}
#map {
	height: 100%;
}

.green{
	color: #27ae60;
}
.red{
	color: #c0392b;
	text-decoration: line-through;
}
.blue{
	color:#2980b9;
}

#panel{
	position: absolute;
	top: 0;
	right: 0;
	width: 140px;
	height: auto;
	background: #fff;
	padding: 6px;
	box-sizing: content-box;
	box-shadow: 0 0 4px #444;
	z-index: 1000;
}

.hidden{
	visibility: hidden;
	display: none;
}

.shown{
	visibility: visible;
	display: block;
}


h1 {
	color: black;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#diff p{
	font-family: 'Source Code Pro', monospace;
	font-size: 1em;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#commit p{
	font-family: 'Source Code Pro', monospace;
}

p  {
	color: black;
	text-align: left;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
}
	
.info	{
	 margin: auto;
	 width: 70%;
	 max-width: 700px;
 }

.list	{
	margin:auto;
	width: 80%;
	max-width: 700px;
}

.container	{
	width: 80%;
	margin: auto;	

	padding: 6px;		

	background: #fff;
	box-shadow: 0 0 15px #777;
}

input.control{
	width: 100%;
	padding: 6px;
	line-height: 1.2;
	font-size: 12pt;
	box-sizing: border-box;
}

button.submit{
	background: #3498db;
	color: #fff;
	margin: 4px 0;
	padding: 6px;
	outline: none;
	border: none;
}

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	width: 80%;
	height: 100px;
	margin: auto;
}
.full-col, .left-col, .right-col{
	background: #fff;
	box-shadow: 0 0 5px #333;
	padding: 6px;
	margin-top: 10px;
	box-sizing: border-box;
}
.full-col{
	width: 100%;
}
.left-col {
	width: 70%;
	margin-right: 1%;
}

.right-col{
	width: 29%;
}

ul li{
	line-height: 1.5;
}

a{
	color: #3498db;
}

